Package: biglinux-updates
Version: 19.04.1-1big1
Depends: 
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br
Section: admin
Priority: optional
Installed-Size:8
Description: Meta package to improve updates for BigLinux


